
 body{
            background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        }
        h1{
            text-align: center;
          color: white;
          text-shadow: 5px 5px 2px #5e5c5cb6;
        }
        .parent{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-evenly;
        
        }
        .card{
            background-color: white;
            margin: 20px;
            
            width: 450px;
            padding: 20px;
           
           
            font-size: 20px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

       

        img{
            height: 320px;
            width: 450px;
            object-fit: cover;
            border-radius: 5px;
        }